.title {
  text-align: center;
  margin-top: 10rem;
  color: rgb(1, 153, 153);
}

.tableCurrency {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

table {
  width: 50rem;
}

thead {
  color: rgb(1, 153, 153);
}

tbody {
  text-align: center;
  font-weight: 500;
  color: rgb(134, 134, 134);
}
